/*---
section: Display typography
---
Display-1 to 4 with breakpoints.

Pattern: `display-*-*`

- First parameter: sm, md, lg, xl
- Second parameter: 1, 2, 3, 4

Example: `display-lg-1`
> It will display on large displays and greater

*/