@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        $height: 0;

        @while $height < 151 {
            $class-name : height-#{$breakpoint}-#{$height};

            @if ($breakpoint == 'xs') {
                $class-name : height-#{$height};
            }

            .#{$class-name} {
                height: $height + 0px !important;
            }

            $height: $height + 5;
        }

        @if ($breakpoint != 'xs') {
            .w-auto {
                height: auto !important;
            }
        }
    }
}
