@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        $width: 0;

        @while $width < 151 {
            $class-name : width-#{$breakpoint}-#{$width};

            @if ($breakpoint == 'xs') {
                $class-name : width-#{$width};
            }

            .#{$class-name} {
                width: $width + 0px !important;
            }

            $width: $width + 5;
        }

        @if ($breakpoint != 'xs') {
            .w-#{$breakpoint}-auto {
                width: auto !important;
            }
        }
    }
}
